<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <%= link_to "Log Out", logout_path , class:"dropdown-item" %></a>
          <div class="dropdown-divider"></div>
          
          <div class="dropdown-divider"></div>
          <%= link_to "User Record ", users_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="my-div">
	<h1 class="show-user"> WellCome To User Record List </h1>
  </div>
